<div id="contenedor">

    <div id="tituloGeneral">
        <h2>{{title}}</h2>
    </div>
    <form [formGroup]="myForm" >
        <div id="nombre" class="field">
            <label for="name">Nombre</label>
            <input pInputText id="name" type="nombre" name="" formControlName="name">
        </div>
        <br>
        <div id="siglas">
            <label for="acronym">Siglas</label>
            <input pInputText id="name" type="siglas" name="acronym" formControlName="acronym">

        </div>
        <br>
        <div id="semestres">
            <label>Fecha de las Clases</label>
            <input type="number" name="" required>
        </div>

        <div id="botonGuardar" (click)="update()">
            <button type="submit">
                <div id="iconoBotonGuardar">
                    <img src="../../assets/img/icons/white/save.png">
                </div>Guardar
            </button>
        </div>

        <div id="botonCancelar">
            <button type="submit">
                <a routerLink="/list-carrer">
                <div id="iconoBotonCancelar">
                    <img src="../../assets/img/icons/white/cross.png">
                </div>Cancelar
                </a>
            </button>
        </div>
    </form>
</div>