<div id="contenedor">

    <div id="tituloGeneral">
        <h2>Editar Materia</h2>
    </div>

    <div id="email">
        <label>Nombre</label>
        <input type="nombre" name="Ingrese el nombre de la Materia" required>
    </div>

    <div>
        <label for="semestres" id="semestresName">Numero de Semestres</label>
        <select id="semestres" name="semestres">
            <option value=""></option>
            <option value="uno">1</option>
            <option value="dos">2</option>
            <option value="tres">3</option>
            <option value="cuatro">4</option>
            <option value="cinco">5</option>
        </select>
    </div>

    <div id="botonGuardar">
        <button type="submit">
            <div id="iconoBotonGuardar">
                <img src="../../assets/img/icons/save.png">
            </div>Guardar
        </button>
    </div>

    <div id="botonCancelar">
        <button type="submit">
            <div id="iconoBotonCancelar">
                <img src="../../assets/img/icons/cross.png">
            </div>Cancelar
        </button>
    </div>
</div>