<div id="contenedor">

    <div id="tituloGeneral">
        <h2>{{title}}</h2>
    </div>
    <form [formGroup]="myForm" >
        <div id="nombre" class="field">
            <label for="name">Nombre</label>
            <input pInputText id="name" type="nombre" name="" formControlName="name">
        </div>
        <br>
        <div id="siglas">
            <label for="acronym">Siglas</label>
            <input pInputText id="name" type="siglas" name="acronym" formControlName="acronym">

        </div>
        <br>
        <div>
            <label for="semestres" id="semestres">Numero de Semestres</label>
            <input pInputText id="semestres" type="number" name="semestres" formControlName="semesters">
            <!-- <select id="semestres" type="number" formControlName="semesters">
                <option value=""></option>
                <option value="uno">1</option>
                <option value="dos">2</option>
                <option value="tres">3</option>
                <option value="cuatro">4</option>
                <option value="cinco">5</option>
            </select> -->
        </div>

        <div id="botonGuardar" (click)="update()">
            <button type="submit">
                <div id="iconoBotonGuardar">
                    <img src="../../assets/img/icons/white/save.png">
                </div>Guardar
            </button>
        </div>

        <div id="botonCancelar">
            <button type="submit">
                <a routerLink="/list-carrer">
                <div id="iconoBotonCancelar">
                    <img src="../../assets/img/icons/white/cross.png">
                </div>Cancelar
                </a>
            </button>
        </div>
    </form>
</div>