<div id="contenedor">

    <div id="tituloGeneral">
        <h4>Crear Detalle Laboratorio Materia </h4>
    </div>

    <div id="nombre">
        <label>Fecha de las Clases</label>
        <input type="nombre" name="" required>
    </div>

    <div id="siglas">
        <label>Descripcion</label>
        <input type="siglas" name="" required>
    </div>

    <div>
        <label for="dias" id="diasName"></label>
        <h5 id="ndias">Dia</h5>
        <select id="dias" name="dias">
            <option value=""></option>
            <option value="uno">1</option>
            <option value="dos">2</option>
            <option value="tres">3</option>
        </select>
    </div>

    <label for="teacher" id="teacherName"></label>
    <h5 id="ndocente">Detalle Laboratorio Detalle Materia</h5>
    <select id="teacher" name="teacher">
        <option value=""></option> <!--campo en blanco no mover-->
        <option value=""></option>
        <option value=""></option> <!--verificar que datos van aqui-->
        <option value=""></option>
    </select>
</div>
<div>
    <div id="botonGuardar">
        <button type="submit">
            <div id="iconoBotonGuardar">
                <img src="../../assets/img/icons/white/save.png">
            </div>Guardar
        </button>
    </div>

    <div id="botonCancelar">
        <button type="submit">
            <div id="iconoBotonCancelar">
                <img src="../../assets/img/icons/white/cross.png">
            </div>Cancelar
        </button>
    </div>
</div>