#contenedor {
  border: 15px solid #004aad;
  border-radius: 5%;
  max-width: 60%;
  max-height: 85%;
  left: 20.5%;
  top: 12%;
}

#titleGeneral {
  position: absolute;
  right: 580px;
  top: 45px;
}

#nombre,
#carrerName{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
}

#carrerName{
  top: 50%;
}

#botonGuardar{
  position: absolute;
  left: 25%;
  top: 80%;
}
#botonCancelar{
  position: absolute;
  left: 60%;
  top: 80%;
}
