<div id="contenedor">
  <div id="tituloGeneral">
    <h1>{{title}}</h1>
  </div>

  <div id="botonCrearNuevo">
    <button type="submit">
      <a routerLink="/create-teachers">
      <div id="iconoBotonCrearNuevo">
        <img src="../../assets/img/icons/white/plus.png">
      </div>Nuevo
      </a>
    </button>
  </div>

  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th scope="col">Cédula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Correo Institucional</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{teacher.identificationCard}}</td>
          <td>{{teacher.names}}</td>
          <td>{{teacher.surnames}}</td>
          <td>{{teacher.institutionalEmail}}</td>
          <td>{{teacher.phone}}</td>
          <td>
            <div id="botonEditarP">
              <button type="submit">
                <a routerLink="/edit-teachers/{{teacher.id}}">
                <div id="iconoBotonEditarP">
                  <img src="../../assets/img/icons/white/edit.png">
                </div>E</a>
              </button>
            </div>
          </td>
          <td>
            <div id="botonEliminarP" (click)="destroy(teacher.id!)">
              <button type="submit">
                <div id="iconoBotonEliminarP">
                  <img src="../../assets/img/icons/white/trash.png">
                </div>E
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
