<div id="contenedor">
  <div id="tituloGeneral">
    <h1>Materias</h1>
  </div>

</div>

<div id="botonCrearNuevo">
    <button type="submit">
        <div id="iconoBotonCrearNuevo">
            <img src="../../assets/img/icons/plus.png">
        </div>Nuevo
    </button>
</div>

<div id="botonPlantilla">
    <button type="submit">
        <div id="iconoBotonPlantilla">
            <img src="../../assets/img/icons/template.png">
        </div>Plantilla
    </button>
</div>

<div id="botonExportar">
    <button type="submit">
      <div id="iconoBotonExportar">
        <img src="../../assets/img/icons/export.png">
      </div>Exportar
    </button>
  </div>

    <div id="botonImportar">
      <button type="submit">
        <div id="iconoBotonImportar">
          <img src="../../assets/img/icons/import.png">
        </div>Importar
      </button>
    </div>
