<div id="contenedor">
  <div id="botonImportar">
    <button type="submit">
      <div id="iconoBotonImportar">
        <img src="../../assets/img/icons/white/import.png">
      </div>Importar
    </button>
  </div>

  <br><br>

  <div id="botonExportar">
    <button type="submit">
      <div id="iconoBotonExportar">
        <img src="../../assets/img/icons/white/export.png">
      </div>Exportar
    </button>
  </div>

  <br><br>

  <div id="botonPlantilla">
    <button type="submit">
      <div id="iconoBotonPlantilla">
        <img src="../../assets/img/icons/white/template.png">
      </div>Plantilla
    </button>
  </div>

  <br><br>

  <div id="botonCrearNuevo">
    <button type="submit">
      <div id="iconoBotonCrearNuevo">
        <img src="../../assets/img/icons/white/plus.png">
      </div>Nuevo
    </button>
  </div>

  <br><br>

  <div id="botonVerMas">
    <button type="submit">
      <div id="iconoBotonVerMas">
        <img src="../../assets/img/icons/white/eyes.png">
      </div>Ver más
    </button>
  </div>

  <br><br>

  <div id="botonGuardar">
    <button type="submit">
      <div id="iconoBotonGuardar">
        <img src="../../assets/img/icons/white/save.png">
      </div>Guardar
    </button>
  </div>

  <br><br>

  <div id="botonEliminar">
    <button type="submit">
      <div id="iconoBotonEliminar">
        <img src="../../assets/img/icons/white/trash.png">
      </div>Eliminar
    </button>
  </div>

  <br><br>

  <div id="botonVolver">
    <button type="submit">
      <div id="iconoBotonVolver">
        <img src="../../assets/img/icons/white/return.png">
      </div>Volver
    </button>
  </div>

  <br><br>

  <div id="botonCancelar">
    <button type="submit">
      <div id="iconoBotonCancelar">
        <img src="../../assets/img/icons/white/cross.png">
      </div>Cancelar
    </button>
  </div>

  <br><br>

  <div id="botonEditar">
    <button type="submit">
      <div id="iconoBotonEditar">
        <img src="../../assets/img/icons/white/edit.png">
      </div>Editar
    </button>
  </div>

  <br><br>

  <div id="botonBuscar">
    <button type="submit">
      <div id="iconoBotonBuscar">
        <img src="../../assets/img/icons/white/search.png">
      </div>Buscar
    </button>
  </div>

  <br><br>

  <div id="botonEditarP">
    <button type="submit">
      <div id="iconoBotonEditarP">
        <img src="../../assets/img/icons/white/edit.png">
      </div>E
    </button>
  </div>

  <br><br>

  <div id="botonEliminarP">
    <button type="submit">
      <div id="iconoBotonEliminarP">
        <img src="../../assets/img/icons/white/trash.png">
      </div>E
    </button>
  </div>

  <br><br>

</div>
