<div id="contenedor">

    <div id="tituloGeneral">
        <h2>Crear Curso</h2>
    </div>

    <div id="nombre">
        <label>Nombre</label>
        <input type="nombre" name="" required>
    </div>

    <div id="numero">
        <label>Numeros de Maquinas</label>
        <input type="numero" name="" required>
    </div>

    <div>
        <label for="semestres" id="semestresName">Numero de Semestres</label>
        <select id="semestres" name="semestres">
            <option value=""></option>
            <option value="uno">1</option>
            <option value="dos">2</option>
            <option value="tres">3</option>
            <option value="cuatro">4</option>
            <option value="cinco">5</option>
        </select>
    </div>
    <div>
        <label for="paralelo" id="paralelolName"></label>
        <h5 id="nparalelo">Paralelo</h5>
        <select id="paralelo" name="paralelo">
            <option value=""></option>
            <option value="uno">A</option>
            <option value="dos">B</option>
            <option value="tres">C</option>
        </select>
    </div>
    <div>
        <label for="shift" id="shiftName"></label>
        <h5 id="njornada">Jornada</h5>
        <select id="shift" name="shift">
          <option value=""></option>
          <option value="matutina">Matutina</option>
          <option value="vespertina">Vespertina</option>
          <option value="nocturna">Nocturna</option>
        </select>
      </div>
      <div>
        <label for="teacher" id="teacherName"></label>
        <h5 id="ndocente">Docente</h5>
        <select id="teacher" name="teacher">
          <option value=""></option>
          <option value="yougledis herrera">Yougledis Herrera</option>
          <option value="vespertina">Maritza Tituaña</option>
          <option value="nocturna">Mauricio Tamayo</option>
          <option value="nocturna">Geovanny Pazmiño</option>
          <option value="nocturna">Lorena Chulde</option>
        </select>
      </div>
    
   

    <div id="botonGuardar">
        <button type="submit">
            <div id="iconoBotonGuardar">
                <img src="../../assets/img/icons/white/save.png">
            </div>Guardar
        </button>
    </div>

    <div id="botonCancelar">
        <button type="submit">
            <div id="iconoBotonCancelar">
                <img src="../../assets/img/icons/white/cross.png">
            </div>Cancelar
        </button>
    </div>

</div>