<link rel="stylesheet" href="./login.component.css">

<div id="contenedor">
  <div id="logo1">
    <img src="../../assets/img/logos/Logo GELABY.png" alt="">
  </div>

  <div id="logo2">
    <img src="../../assets/img/logos/Logo Yavirac.png" alt="">
  </div>

  <div id="tituloGeneral">
    <h1>Login</h1>
  </div>

  <div id="titulo">
    <h4>Iniciar Sesión GELABY</h4>
  </div>

  <div id="email">
    <label>EMAIL</label>
    <input type="email" name="" required>
  </div>

  <div id="password">
    <label>CONTRASEÑA</label>
    <input type="password" name="" required>
  </div>
<!--
  <div id="ojo">
    <div class="visto" style="display: block;">
      <button id="visto" type="button" (click)="cambio()">
        <img src="../../assets/img/icons/abierto.png">
      </button>
    </div>
    <div class="equis" style="display: none;">
      <button id="equis" type="button" (click)="cambio()">
        <img src="../../assets/img/icons/cerrado.png">
      </button>
    </div>
  </div>
-->
  <div id="boton">
    <button type="submit">Iniciar Sesión</button>
  </div>

  <div id="RecuperarContrasenia">
    <p>Para recuperar contraseña hacer click
      <a href="/forgotPassword"> AQUÍ </a>
    </p>
  </div>
</div>

<script src="/js/botones.js"></script>
