    <div id="contenedor">

        <div id="tituloGeneral">
            <h2>{{title}}</h2>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="create()">
            <div id="estado" class="field">
                <label for="state">Estado</label>
                <input pInputText type="text" formControlName="state">
                <p-message *ngIf="stateField.errors?.['required']" severity="error" text="Este campo es obligatorio">
                </p-message>
                <p-message *ngIf="stateField.errors?.['minlength']" severity="error" text="Mínimo 2 caracteres">
                </p-message>
                <p-message *ngIf="stateField.errors?.['maxlength']" severity="error" text="Máximo 100 caracteres"></p-message>
                <i *ngIf="stateField.valid" class="pi pi-check-circle"></i>
            </div>
    
            <div id="descripcion" class="field">
                <label for="description">Descripción</label>
                <input pInputText type="text" formControlName="description">
                <p-message *ngIf="descriptionField.errors?.['required']" severity="error" text="Este campo es obligatorio">
                </p-message>
                <p-message *ngIf="descriptionField.errors?.['minlength']" severity="error" text="Mínimo 2 caracteres">
                </p-message>
                <p-message *ngIf="descriptionField.errors?.['maxlength']" severity="error" text="Máximo 100 caracteres"></p-message>
                <i *ngIf="descriptionField.valid" class="pi pi-check-circle"></i>
            </div>

            <div id="botonGuardar">
                <button type="submit">
                    <div id="iconoBotonGuardar">
                        <img src="../../assets/img/icons/white/save.png">
                    </div>Guardar
                </button>
            </div>
    
            <div id="botonCancelar">
                <a routerLink="/list-lab-status">
                <button type="submit">
                    <div id="iconoBotonCancelar">
                        <img src="../../assets/img/icons/white/cross.png">
                    </div>Cancelar
                </button></a>
            </div>
        </form>
    </div>