<div id="contenedor">

    <div id="tituloGeneral">
        <h2>Editar Laboratorio</h2>
    </div>

    <div id="nombre">
        <label>Nombre</label>
        <input type="nombre" name="" required>
    </div>

    <div id="numero">
        <label>Numero de Máquinas</label>
        <input type="numero" name="" required>
    </div>

    <div>
        <label for="estado" id="estadoName">Estado Laboratorio</label>
        <select id="estado" name="estado">
            <option value=""></option>
            <option value="ocupado">Ocupado</option>
            <option value="disponible">Disponible</option>
            <option value="mantenimiento">Mantenimiento</option>
        </select>
    </div>

    <div id="botonGuardar">
        <button type="submit">
            <div id="iconoBotonGuardar">
                <img src="../../assets/img/icons/white/save.png">
            </div>Guardar
        </button>
    </div>

    <div id="botonCancelar">
        <button type="submit">
            <div id="iconoBotonCancelar">
                <img src="../../assets/img/icons/white/cross.png">
            </div>Cancelar
        </button>
    </div>
</div>


