<div id="contenedor">

  <div id="tituloGeneral">
    <h1>Editar Docente</h1>
  </div>

  <div id="formulario">
    <div id="cedula">
      <label>Cédula</label>
      <input type="text" placeholder="Escriba su número de cédula.">
    </div>

    <div id="nombre">
      <label>Nombre:</label>
      <input type="text" placeholder="Escriba su nombres.">
    </div>

    <div id="apellido">
      <label>Apellidos:</label>
      <input type="text" placeholder="Escriba su apellidos.">
    </div>

    <div id="correo">
      <label>Correo Institucional:</label>
      <input type="text" placeholder="Escriba su correo institucional.">
    </div>

    <div id="telefono">
      <label>Teléfono:</label>
      <input type="text" placeholder="Escriba su teléfono.">
    </div>

    <div id="botonGuardar">
      <button type="submit">
        <div id="iconoBotonGuardar">
          <img src="../../assets/img/icons/save.png">
        </div>Guardar
      </button>
    </div>
  </div>
</div>
