<div id="contenedor">
    <div id="tituloGeneral">
      <h1>{{title}}</h1>
    </div>
  </div>
  
  <div id="botonCrearNuevo">
    <button type="submit">
      <a routerLink="/create-course">
      <div id="iconoBotonCrearNuevo">
        <img src="../../assets/img/icons/white/plus.png">
      </div>Nuevo
      </a>
    </button>
  </div>
  
  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Numero Estudiantes</th>
          <th scope="col">Semestres</th>
          <th scope="col">Carrera</th>
          <th scope="col">Paralelo</th>
          <th scope="col">Jornada</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
          <td>{{course.numberStudents}}</td>
          <td>{{course.semesters}}</td>
          <td>{{course.career}</td>
          <td>{{course.parallel}}</td>
          <td>{{course.shift}}</td>
          <td>
            <div id="botonEditarP">
              <button type="submit">
                <div id="iconoBotonEditarP">
                  <img src="../../assets/img/icons/white/edit.png">
                </div>E
              </button>
            </div>
          </td>
          <td>
            <div id="botonEliminarP">
              <button type="submit">
                <div id="iconoBotonEliminarP">
                  <img src="../../assets/img/icons/white/trash.png">
                </div>E
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
