header,
#navbar,
.container{
  padding: 12px 0;
  background: #004add;
}

.logo img{
  width: 75px;
  height: 75px;
}

.menu {
  margin-top: 12px;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu ul li {
  list-style-type: none;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  margin-left: 24px;
}

.menu ul li:hover {
  color: coral;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

@media only scren and (max-width: 600px) {
  .menu {
    position: absolute;
    right: -280px;
    top: 64px;
    width: 280px;
    height: 100%;
    background-color: #004add;
  }

  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid black;
  }

  .menu_icon {
    display: inline-block;
    position: relative;
    right: 0;
    top: 20px;
  }

  .menu_icon span {
    width: 32px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    transition: 0.2s ease-in-out;
  }

  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }

  .menu_icon_Class span:nth-child(2){
    display: none;
  }

  .menu_icon_Class span:nth-child(1){
    transform: rotate(40deg);
  }

  .menu_icon_Class span:nth-child(3){
    transform: rotate(-40deg);
    margin-top: -3px;
  }

  .menuClass {
    right: 0;
    transition: 0.4s ease-in-out;
  }
}
