<div id="contenedor">

    <div id="tituloGeneral">
        <h4>{{title}}</h4>
    </div>
    <form [formGroup]="myForm">
        <div id="fecha" class="field">
            <label for="date">fecha</label>
            <input type="date" name="" formControlName="date">
        </div>

        <div>
            <label for="day" id="diasName"></label>
            <h5 id="ndias">Dia</h5>
            <input id="dias" name="dias" type="text" list="days" formControlName="day">
            <datalist id="days">
                <option value="Lunes">
                <option value="Martes">
                <option value="Miercoles">
                <option value="Jueves">
                <option value="Viernes">
            </datalist>

        </div>

        <div id="horaInicio" class="field">
            <label for="hourStart">hora Inicio</label>
            <input type="time" name="" formControlName="hourStart">
        </div>

        <div id="horaFin" class="field">
            <label for="hourFinish">hora Fin</label>
            <input type="time" name="" formControlName="hourFinish">
        </div>

        <div>
            <label for="curso" id="cursoName">Curso</label>
            <input id="curso" name="curso" type="text" list="courses" formControlName="course">
            <datalist id="courses">
                <option value="5VADS">
                <option value="5VBDS">
                <option value="1MADS">
                <option value="2MBDS">
                <option value="3NADS">
            </datalist>
        </div>
        <div>

            <label for="teacher" id="teacherName"></label>
            <h5 id="ndocente">Docente</h5>
            <input id="teacher" name="teacher" type="text" list="teachers" formControlName="teacher">
            <datalist id="teachers">
                <option value="yougledis herrera">Yougledis Herrera</option>
                <option value="vespertina">Maritza Tituaña</option>
                <option value="nocturna">Mauricio Tamayo</option>
                <option value="nocturna">Geovanny Pazmiño</option>
                <option value="nocturna">Lorena Chulde</option>
            </datalist>
        </div>

        <div>
            <label for="asignatura" id="asignaturalName"></label>
            <h5 id="nasignatura">Asignatura</h5>
            <input id="asignatura" name="asignatura" type="text" list="subject" formControlName="subject">
            <datalist id="subject">
                <select id="asignatura" name="asignatura">
                    <option value=""></option>
                    <option value="Tendecias Actuales de Programacion">Tendecias Actuales de Programacion</option>
                    <option value="Redes y Conectividad">Redes y Conectividad</option>
                    <option value="Etica Profesional">Etica Profesional</option>
                    <option value="Emprendimiento">Emprendimiento</option>
                </select>
            </datalist>
        </div>

        <div id="botonGuardar" (click)="update()">
            <button type="submit">
                <div id="iconoBotonGuardar">
                    <img src="../../assets/img/icons/white/save.png">
                </div>Guardar
            </button>
        </div>

        <div id="botonCancelar">
            <button type="submit">
                <a routerLink="/list-subject-teaching-detail">
                <div id="iconoBotonCancelar">
                    <img src="../../assets/img/icons/white/cross.png">
                </div>Cancelar
            </a>
            </button>
        </div>