<div id="contenedor">

  <div id="tituloGeneral">
    <h1>{{title}}</h1>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="store()">
  <div id="formulario" >
    <div id="cedula" class="field">
      <label for="identificationCard">Cédula</label>
      <input type="text" placeholder="Escriba su número de cédula." formControlName="identificationCard">
    </div>

    <div id="nombre" class="field">
      <label for="names">Nombres:</label>
      <input type="text" placeholder="Escriba su nombres." formControlName="names">
    </div>

    <div id="apellido" class="field">
      <label for="surnames">Apellidos:</label>
      <input type="text" placeholder="Escriba su apellidos." formControlName="surnames">
    </div>

    <div id="correo" class="field">
      <label for="institutionalEmail">Correo Institucional:</label>
      <input type="text" placeholder="Escriba su correo institucional." formControlName="institutionalEmail">
    </div>

    <div id="telefono" class="field">
      <label for="phone">Teléfono:</label>
      <input type="text" placeholder="Escriba su teléfono." formControlName="phone">
    </div>

    <div id="botonGuardar">
      <button type="submit">
        <div id="iconoBotonGuardar">
          <img src="../../assets/img/icons/white/save.png">
        </div>Guardar
      </button>
    </div>
    <div id="botonCancelar">
      <a routerLink="/list-teachers">
      <button type="submit">
          <div id="iconoBotonCancelar">
              <img src="../../assets/img/icons/white/cross.png">
          </div>Cancelar
      </button></a>
  </div>
  </div>
  </form>
</div>
