#contenedor {
  border: 15px solid #004aad;
  border-radius: 5%;
  width: 60%;
  height: 100%;
  max-width: 60%;
  max-height: 80%;
  left: 20.5%;
  top: 12%;
}

#tituloGeneral {
  position: absolute;
  right: 580px;
  top: 15px;
}

#formulario {
  width: 100%;
  height: 100%;
  max-width: 94%;
  max-height: 80%;
  position: absolute;
  top: 15%;
  left: 3%;
}

#fecha,
#dia,
#horaInicio,
#horaFin {
  text-align: left;
  width: 100%;
  height: 100%;
  max-width: 47.5%;
  max-height: 20%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#cursos,
#docente,
#asignaturas,
#detalleDocente {
  text-align: left;
  width: 100%;
  height: 100%;
  max-width: 47.5%;
  max-height: 20%;
  position: absolute;
  top: 0%;
  left: 52.5%;
}


#fecha,
#cursos{
 top: 5%;
}

#dia,
#docente{
  top: 25%;
}

#asignaturas,
#horaInicio{
  top: 45%;
}

#horaFin,
#detalleDocente{
  top: 65%;
}

#botonGuardar{
  position: absolute;
  left: 25%;
  top: 85%;
}
#botonCancelar{
  position: absolute;
  left: 60%;
  top: 90%;
}
