<div id="contenedor">

    <div id="titleGeneral">
      <h2>Editar Materia</h2>
    </div>
  
    <div id="name">
      <label>Nombre</label>
      <input type="nombre" name="Ingrese el nombre de la Materia" required>
    </div>
  
    <div>
      <label for="carrer" id="carrerName">Carrera</label>
      <select id="carrer" name="carrer">
        <option value=""></option>
        <option value="software">Desarrollo de Software</option>
        <option value="culinario">Arte Culinario</option>
        <option value="modas">Diseño de Modas</option>
        <option value="turismo">Turismo</option>
        <option value="control">Control de Incendios</option>
      </select>
    </div>
  
    <div id="buttonSave">
      <button type="submit">
        <div id="iconoBotonGuardar">
          <img src="../../assets/img/icons/white/save.png">
        </div>Guardar
      </button>
    </div>
    
    <div id="buttonCancel">
      <button type="submit">
        <div id="iconoBotonCancelar">
          <img src="../../assets/img/icons/white/cross.png">
        </div>Cancelar
      </button>
    </div>
  
  
  </div>
  