#contenedor {
    border: 15px solid #004aad;
    border-radius: 5%;
    max-width: 60%;
    max-height: 85%;
    left: 20.5%;
    top: 12%;
  }
  #tituloGeneral {
    margin-right: 580px;
    margin-top: 35px;
  }
  #botonCrearNuevo{
    position: absolute;
    left: 725px;
    top: 130px;
  }
  