<div id="contedor">
  <!-- Aquí comienza el segundo formulario -->
  <div id="formulario">
    <h2 name="h2" id="h2">TODOS LOS CAMPOS SON REQUERIDOS</h2>
    <form action="/Registro" method="POST">

      <div id="Nombres">
        <label>NOMBRES</label>
        <input id="nombre" type="text" name="" required />
      </div>

      <div id="Apellidos">
        <label>APELLIDOS</label>
        <input id="apellido" type="text" name="" required />
      </div>

      <div id="Cedula">
        <label>DOCUMENTO DE IDENTIDAD</label>
        <input id="cedulatxt" type="text" name="cedulaPaciente" required />
      </div>

      <div id="TipoPersona">
        <label>PERSONA NATURAL O JURÍDICA</label>

      </div>

      <div id="Genero">
        <label>GÉNERO</label>

      </div>

      <div id="CorreoEletronico">
        <label>CORREO ELECTRÓNICO</label>
        <input id="emailtxt" type="email" name="username" required />
      </div>

      <div id="Nick">
        <label>NICK</label>
        <input id="nicktxt" type="text" name="" required />
      </div>

      <div id="Contrasena">
        <label>CONTRASEÑA</label>
        <input id="pastxt" type="password" name="password" required />
      </div>

      <div id="ConfirmacionContrasena">
        <label>CONFIRMACIÓN CONTRASEÑA</label>
        <input id="pastxt" type="password" name="password" required />
      </div>

      <div id="FechaNacimiento">
        <label>FECHA DE NACIMIENTO</label>
        <input id="fechaNacimientotxt" type="text" name="fechaNacimientoPaciente"
          required />
      </div>

      <div id="Celular">
        <label>TELÉFONO CELULAR</label>
        <input id="celulartxt" type="tel" name="celularPaciente" required />
      </div>

      <div id="botonGuardar">
        <button type="submit">REGISTRARME</button>
      </div>
    </form>
  </div>
  <!-- Aquí termina el segundo formulario -->

  <div id="logo">
  </div>
</div>
