<div id="contenedor">

    <div id="tituloGeneral">
        <h1>{{title}}</h1>
    </div>

    <form [formGroup]="myForm">
        <div id="formulario">
            <div id="estado" class="field">
                <label for="state">Estado</label>
                <input pInputText type="text" placeholder="Escriba el estado del laboratorio"
                    formControlName="state">
                <p-message *ngIf="stateField.errors?.['required']" severity="error"
                    text="Este campo es obligatorio"></p-message>
                <i *ngIf="stateField.valid" class="pi pi-check-circle"></i>
            </div>

            <div id="descripcion" class="field">
                <label for="description">Descripción:</label>
                <input pInputText type="text" placeholder="Escriba una descripcion." formControlName="description">
            </div>
            
            <div id="botonGuardar" (click)="update()">
                <button type="submit">
                    <div id="iconoBotonGuardar">
                        <img src="../../assets/img/icons/white/save.png">
                    </div>Guardar
                </button>
            </div>
        </div>
    </form>
</div>